body{
    font-family: roboto, sans-serif;
    margin: 0;
}

.topdiv{
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
}

.header h2{
    font-size: 24px;
    color: #F9FAF8;
}

.header ul{
    display: flex;
    gap: 15px;
}

.header ul li{
    list-style-type: none;
}

.header ul li a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero{
    display: flex;
    justify-content: space-between;
}

.heroblurb{
    width: 350px;
}

.heroblurb h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}