body{
    font-family: roboto, sans-serif;
}

.hero{
    display: flex;
    background-color: #1F2937;
}
.header{
    display: flex;
}

.header h2{
    font-size: 24px;
    color: #F9FAF8;
}

.header ul{
    display: flex;
}

.header ul li{
    list-style-type: none;
}

.header ul li a{
    font-size: 18px;
    color: #E5E7EB;
}